{
    "openapi": "3.1.0",
    "info": {
        "title": "Ecole Directe API"
    },
    "servers": [
        {
            "url": "https://api.ecoledirecte.com"
        }
    ],
    "paths": {
        "/v3/login.awp": {
            "post": {
                "description": "Connecte l'utilisateur ou renvoie le token",
                "requestBody": {
                    "description": "Si vous avez déjà les valeur, vous pouvez remplir les chaînes de caractères vides",
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "type": "string",
                                        "example": "\"identifiant\": \"username\",\"motdepasse\": \"password\", \"isRelogin\": false, \"fa\":[{\"cn\":\"\",\"cv\":\"\"}]"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "token"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "accounts": {
                                                    "type": "array",
                                                    "minItems": 30,
                                                    "maxItems": 35,
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "code": {
                                                                "type": "string",
                                                                "example": "EDT"
                                                            },
                                                            "enable": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "ordre": {
                                                                "type": "integer",
                                                                "example": 50
                                                            },
                                                            "badge": {
                                                                "type": "number",
                                                                "example": 0
                                                            },
                                                            "params": {
                                                                "type": "object",
                                                                "example": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/connexion/doubleauth.awp?verbe=get": {
            "post": {
                "description": "Permet de récupérer le QCM",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "type": "string",
                                        "example": "{}"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "minimum": 200,
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "question": {
                                                    "type": "string",
                                                    "example": "UXVlbCBlc3QgbGUgc2VucyBkZSBsYSB2aWUgPw=="
                                                },
                                                "propositions": {
                                                    "type": "array",
                                                    "example": "[\"NDI==\",\"TGUgZnJvbWFnZQ==\",\"MiAxNDcgNDgzIDY0Nw==\"]"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/connexion/doubleauth.awp?verbe=post":{
            "post": {
                "description": "Permet de répondre au QCM",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type":"object",
                                "properties": {
                                    "choix":{"type":"string", "example":"NDI=="}
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Envoyer cn et cv dans les champs homonymes de /v3/login.awp",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type":"object",
                                    "properties":{
                                        "code":{"type":"integer","minimum":200},
                                        "data":{"type":"object", "properties":{
                                            "cn":{"type":"string"},
                                            "cv": {"type":"string"}
                                        }}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}