{
    "openapi": "3.1.0",
    "info": {
        "title": "Ecole Directe API"
    },
    "servers": [
        {
            "url": "https://api.ecoledirecte.com"
        }
    ],
    "paths": {
        "/v3/login.awp": {
            "post": {
                "description": "Connecte l'utilisateur ou renvoie le token",
                "requestBody": {
                    "description": "Si vous avez déjà les valeur, vous pouvez remplir les chaînes de caractères vides",
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "type": "string",
                                        "example": "\"identifiant\": \"username\",\"motdepasse\": \"password\", \"isRelogin\": false, \"fa\":[{\"cn\":\"\",\"cv\":\"\"}]"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "token"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "accounts": {
                                                    "type": "object",
                                                    "properties": {
                                                        "modules": {
                                                            "type": "array",
                                                            "minItems": 30,
                                                            "maxItems": 35,
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "code": {
                                                                        "type": "string",
                                                                        "example": "EDT"
                                                                    },
                                                                    "enable": {
                                                                        "type": "boolean",
                                                                        "example": true
                                                                    },
                                                                    "ordre": {
                                                                        "type": "integer",
                                                                        "example": 50
                                                                    },
                                                                    "badge": {
                                                                        "type": "number",
                                                                        "example": 0
                                                                    },
                                                                    "params": {
                                                                        "type": "object",
                                                                        "example": {}
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "idLogin": {
                                                            "type": "integer"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "identifiant": {
                                                            "type": "string"
                                                        },
                                                        "typeCompte": {
                                                            "type": "string"
                                                        },
                                                        "codeOgec": {
                                                            "type": "string"
                                                        },
                                                        "main": {
                                                            "type": "boolean"
                                                        },
                                                        "lastConnexion": {
                                                            "type": "string"
                                                        },
                                                        "civilite": {
                                                            "type": "string"
                                                        },
                                                        "prenom": {
                                                            "type": "string"
                                                        },
                                                        "particule": {
                                                            "type": "string"
                                                        },
                                                        "nom": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        },
                                                        "anneeScolaireCourante": {
                                                            "type": "string"
                                                        },
                                                        "nomEtablissement": {
                                                            "type": "string"
                                                        },
                                                        "logoEtablissement": {
                                                            "type": "string"
                                                        },
                                                        "couleurAgendaEtablissement": {
                                                            "type": "string"
                                                        },
                                                        "dicoEnLigneLeRobert": {
                                                            "type": "boolean"
                                                        },
                                                        "socketToken": {
                                                            "type": "string"
                                                        },
                                                        "parametresIndividuels": {
                                                            "type": "object",
                                                            "properties": {
                                                                "isQrcode": {
                                                                    "type": "boolean"
                                                                },
                                                                "accessibilitéVisuelle": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        },
                                                        "profile": {
                                                            "type": "object",
                                                            "properties": {
                                                                "sexe": {
                                                                    "type": "string"
                                                                },
                                                                "infoEDT": {
                                                                    "type": "string"
                                                                },
                                                                "nomEtablissement": {
                                                                    "type": "string"
                                                                },
                                                                "idEtablissement": {
                                                                    "type": "string"
                                                                },
                                                                "rneEtablissement": {
                                                                    "type": "string"
                                                                },
                                                                "telPortable": {
                                                                    "type": "string"
                                                                },
                                                                "idReelEtab": {
                                                                    "type": "string"
                                                                },
                                                                "photo": {
                                                                    "type": "string"
                                                                },
                                                                "classe": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "code": {
                                                                            "type": "string"
                                                                        },
                                                                        "libelle": {
                                                                            "type": "string"
                                                                        },
                                                                        "estNote": {
                                                                            "type": "integer"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/connexion/doubleauth.awp?verbe=get": {
            "post": {
                "description": "Permet de récupérer le QCM",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "type": "string",
                                        "example": "{}"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "minimum": 200,
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "question": {
                                                    "type": "string",
                                                    "example": "UXVlbCBlc3QgbGUgc2VucyBkZSBsYSB2aWUgPw=="
                                                },
                                                "propositions": {
                                                    "type": "array",
                                                    "example": "[\"NDI==\",\"TGUgZnJvbWFnZQ==\",\"MiAxNDcgNDgzIDY0Nw==\"]"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/connexion/doubleauth.awp?verbe=post": {
            "post": {
                "description": "Permet de répondre au QCM",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "choix": {
                                        "type": "string",
                                        "example": "NDI=="
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Envoyer cn et cv dans les champs homonymes de /v3/login.awp",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "minimum": 200
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "cn": {
                                                    "type": "string"
                                                },
                                                "cv": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/eleves/{id}/timeline.awp?verbe=get": {
            "post": {
                "description": "Renvoie la timeline",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "example": 1234,
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "token": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "date": {
                                                        "type": "string",
                                                        "example": "2024-04-18"
                                                    },
                                                    "typeElement": {
                                                        "type": "string",
                                                        "example": "Note"
                                                    },
                                                    "idElement": {
                                                        "type": "integer"
                                                    },
                                                    "titre": {
                                                        "type": "string",
                                                        "example": "Nouvelle évaluation"
                                                    },
                                                    "soustitre": {
                                                        "type": "string",
                                                        "example": "Français"
                                                    },
                                                    "contenu": {
                                                        "type": "string",
                                                        "example": "Dictée n°4"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/E/{id}/timelineAccueilCommun.awp": {
            "post": {
                "description": "Renvoie la timeline de l'établissement",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "evenements": {
                                            "type": "array",
                                            "example": []
                                        },
                                        "postits": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 2386
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "example": "info"
                                                    },
                                                    "contenu": {
                                                        "type": "string",
                                                        "description": "HTML b64"
                                                    },
                                                    "dateCreation": {
                                                        "type": "string",
                                                        "example": "01/03/2024"
                                                    },
                                                    "dateDebut": {
                                                        "type": "string",
                                                        "example": "05/03/2024"
                                                    },
                                                    "dateFin": {
                                                        "type": "string",
                                                        "example": "06/03/2024"
                                                    },
                                                    "cible": {
                                                        "type": "array",
                                                        "example": []
                                                    },
                                                    "ciblesEtab": {
                                                        "type": "array",
                                                        "example": []
                                                    },
                                                    "auteur": {
                                                        "type": "object",
                                                        "description": "Infos auteur",
                                                        "properties": {
                                                            "civilite": {
                                                                "type": "string",
                                                                "example": "M."
                                                            },
                                                            "prenom": {
                                                                "type": "string",
                                                                "example": "Mathias"
                                                            },
                                                            "particule": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "nom": {
                                                                "type": "string",
                                                                "example": "Doiron"
                                                            },
                                                            "type": {
                                                                "type": "string",
                                                                "example": "A"
                                                            },
                                                            "id": {
                                                                "type": "string",
                                                                "example": "1685"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}